name: Build and deploy JAR app to Azure Web App - cicdspringtest

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }} 

      - name: Set up Java version
        uses: actions/setup-java@v1
        with:
          java-version: '17'

      - name: Grant execute permission for Gradle wrapper
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew clean build

      - name: Create artifact directory
        run: mkdir -p ${{ github.workspace }}/artifacts

      - name: Copy JAR files to artifact directory
        run: cp -r ${{ github.workspace }}/build/libs/*.jar ${{ github.workspace }}/artifacts/

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2
        with:
          name: java-app
          path: '${{ github.workspace }}/artifacts/' 

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: java-app

      - name: Select the latest JAR file
        run: |
          LATEST_JAR=$(ls -t ${{ github.workspace }}/java-app/*.jar | head -n 1)
          echo "::set-output name=latest_jar::${LATEST_JAR}"

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'cicdspringtest'
          slot-name: 'production'
          publish-profile: ${{ secrets.AzureAppService_PublishProfile_3148b3cf1d5a45afbdd9f03ef87f9d33 }}
          package: ${{ needs.build.outputs.latest_jar }}
